:root {
  --surface-1-light: #edfbfb;
  --surface-2-light: #dee2e6;
  --text-1-light: #030507;
  --text-2-light: #868e96;
  --surface-1-dark: #edfbfb;
  --surface-2-dark: #dee2e6;
  --text-1-dark: #030507;
  --text-2-dark: #868e96;
}

.featured h2{
  color: #ebebeb;
}
.featured p{
  color: #c6c6c6;
}